body { 
  font-size: 10px; 
} 

.casa{ 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: row; 
  gap: 1em; 
  margin-top: 2em; 
} 

.soma { 
  background-color: green; 
  border: none; 
  color: white; 
  border-radius: 1em; 
  width: 5em; 
  height: 4em; 
  align-items: center; 
} 

.menos { 
  background-color: red; 
  border: none; 
  color: white; 
  border-radius: 1em; 
  width: 5em; 
  height: 4em; 
  align-items: center; 
} 

p, .te, .ti { 
  font-size: 4em; 
}
