.App {
  text-align: center;
}

.tudo{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.time{
  color: green;
  font-style: italic;
}
.jogo{
  color: red;
}
.bot{
       border: 0.1em solid black;
        padding: 0.1em 1em;
        border-radius: 2em;
        font-style: italic;
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: green;
}